/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


/* Nav-bar-style */
.nav-icon-text{
    align-items: center;
}
.nav-title{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.9rem;
}
.nav-bar-pc{
    /* display: block; */
    width: 1400px;
    height: 102px;
    /* margin-left: 142px; */
    align-items: center;
    gap: 186px;
    justify-content: space-around;
}
.nav-bar-links{
    gap: 2rem;
    list-style: none;
}
.nav-bar-items > a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 30px;
}
#nav-home{
    color: rgb(254, 163, 1);
    font-weight: 700;
}
#nav-about{
    color: rgb(1, 172, 253);
}
#nav-facilities{
    color: rgb(5, 212, 223);
}
#nav-admission{
    color: rgb(93, 88, 239);
}

.nav-responsive{
    display: none;
}
.nav-hr{
    display: none;
    border: 0.5px solid rgb(254, 163, 1);
    
}

*{
    margin: 0;
    padding: 0;
}
marquee{
    background-color: antiquewhite;
}
body{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.display-flex{
    display: flex;
}
.primary-btn{
    width: 197px;
    height: 50px;
    background-color: rgb(254, 163, 1);
    border: none;
    border-radius: 12px;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.8rem;
    color: rgb(255, 255, 255);
    cursor: pointer;

}
.section-title{
    font-size: 2.875rem;
    font-weight: 700;
    margin-bottom: 80px;
    text-align: center;
}
.margin-top-60{
    margin-top: 60px;
}


/* Hero-Section */
.hero{
    max-width: 1158.61px;
    max-height: 575px;
    margin: 0 auto;
    align-items: center;
    gap: 50px;
}

.hero-title{
    font-size: 2.82rem;
    margin-bottom: 24px;
    color: rgb(17, 17, 17);

}
.hero-sub-title{
    font-size: 1.25rem;
    margin-bottom: 12px;
    color: rgb(17, 17, 17);
}
.hero-btn{
    color: rgb(255, 255, 255);
    background-color: rgb(17, 17, 17);
}
.color-orange{
    color: rgb(254, 163, 1);
}
.color-skyblue{
    color: rgb(1, 172, 253);
}
.hero-img-container>img{
    width: 100%;
}

/* Standard-Curriculum */
main{
    background-image: url(assets/bg.png);
}
.std-curriculum{
    margin: 60px auto;
    width: 1440px;
    height: 879px;
}
.std-curriculum-container{
    /* margin-top: 60px; */
    margin: 0px auto;
    
}

.std-curriculum-card-container{
    /* width: 1440px;
    height: 879px; */
    /* margin: 0 auto; */
    margin: 80px 140px;
    border-radius: 18px;
    gap: 1.76rem;
}
.card{
    
    width: 1160px;
    height: 481.5px; 
    display: flex;  
    gap: 28.29px;
     margin: 80px 140px;  
    border-radius: 18px; 
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.card-1{

    max-width: 367.8px;
    max-height: 476.78px;
    border-radius: 18.86px; 
    border: 0.94px solid rgb(222, 245, 255);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    padding: 4rem ;
    
}

.card-2{

    max-width: 367.8px;
    max-height: 476.78px;
    border-radius: 18.86px; 
    border: 0.94px solid rgb(255, 244, 220);;
    box-shadow:  inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    padding: 4rem ;
}

.card-3{

    max-width: 367.8px;
    max-height: 476.78px;
    border-radius: 18.86px; 
    border: 0.94px solid rgb(242, 232, 255);
    box-shadow:  inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    padding: 4rem ;
}

.card-title{
    color: rgb(32, 32, 32);
    font-family: Quicksand;
    font-size: 1.53rem;
    font-weight: 700;
    line-height: 1.89rem;
    margin-bottom: 2rem;
}
.card-sub-title{
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 15.09px;
    font-weight: 500;
    line-height: 28.3px;
    margin-bottom: 2.45rem;
}
.card-1-btn {
    background-color: white;
    color: rgb(100, 200, 255) ;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 3.65rem;
}
.card-2-btn{
    background-color: white;
    color: rgb(240, 170, 0) ;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 3.65rem;

}
.card-3-btn{
    background-color: white;
    color: rgb(135, 0, 255) ;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 3.65rem;

}

 .arrow-btn{
    margin-top: 80px;
    margin-bottom: 60px;
    display: flex;
    gap: 10px;
    justify-content: center;
    /* padding-top: 80px; */
    padding-bottom: 60px;

}
.arrow-btn-left{
    width: 60px;
    height: 60px;
    border: none;
    background-color: rgb(254, 163, 1);
    border-radius: 30px;

} 

.hr-line{
    
    border: 1px dashed grey;
     
}

/* our stories Section */
.our-stories{
    display: block;
    height: 1018.02px;
    background: linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    
}
.story-card-container{
    padding-top: 50px;
    margin: 50px auto;
    max-width:  1160px;
    max-height: 630.52px;
    display: grid;
    grid-template-areas: 
    "one two three"
    "one four five"
    ;
    gap: 20px;
}

.story-card-title, .story-card-sub-title{

    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.story-card-01{
    /* padding: 31px; */
    display: block;
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    grid-area: one;
}
.story-card-02{

    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    grid-area: two;
}
.story-card-03{

    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    grid-area: three;
}
.story-card-04{

    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    grid-area: four;
}
.story-card-05{

    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    grid-area: five;
}



.story-card-01>img {
    border-radius: 16px 16px 0px 0px;

}

.story-card-02>img {
    border-radius: 16px 16px 0px 0px;
}

.story-card-03>img {
    border-radius: 16px 16px 0px 0px;
}

.story-card-04>img {
    border-radius: 16px 16px 0px 0px;
}

.story-card-05>img {
    border-radius: 16px 16px 0px 0px;
}

.story-card-title{
    font-size: 1rem;
    padding-left: 2.3rem;
    padding-right: 2.35rem;
}

.story-btn{
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgb(17, 17, 17);
}

.stories{
    margin: 20px 140px;
}
.st-1,
.st-2,
.st-3,
.st-4,
.st-5{
    border-radius: 16px;
    background-color: #FFFFFF;
}
.sg{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.coloms{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #01ACFD;
    padding: 123px 228px 174px 140px;
    color: #FFFFFF;
}
.break{
    display: block;
}
.kids-title{
    margin-top: 0px;
    margin-bottom: 0px;
}

.item{
    list-style: none;
}
.vl,.nav-line{
    display: none;
}

/* Footer degine */
.footer{
    margin-top: 60px;
    width: 100%;
    height: 519px;
    background-color: rgb(1, 172, 253);
    align-items: center;
    justify-content: space-around;
}
.footer-content{
    padding-top: 123px; 
    margin: 0 auto;
    max-width: 1070.91px;
    max-height: 222px;
}

.footer-title{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 2.63rem;
    font-weight: 700;
    line-height: 2.5rem;
}
.footer-sub-title{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
}
.nav-bar-links-footer{
    flex-direction: column;
    gap: 1.25rem;
}
.nav-bar-links-footer>li{
    list-style: none;

}
.nav-bar-items-footer>a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
}
.footer-nav-link-title{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 2rem;
}
.nav-social-link-title{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 6rem;
}
.primary-btn:hover{
    background-color: darkgoldenrod;
}

/* Resposive  */
@media screen and (max-width:390px) {
    section{
        width: 100%;
    }
    .nav-bar-pc{
        display: none;
        width: 336px;
    }
    .nav-responsive{
        margin: 12px 16px;
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-hr{
        display: block;
    }
    .hero{
        flex-direction: column-reverse;
        padding-left: 20px;
        width: 336.58px;
        height: 413px;
        text-align: center;
        margin-top: 550px;
    }
      .std-curriculum{
        width: 390px;
        height: fit-content;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .std-curriculum-card-container{
        width: 100%;
        height: auto;
        margin-top: 500px;
        align-items: center;
        margin-left: 26.21px;
        flex-direction: column; 
         /* grid-template-columns: column;  */
    }   
     
    .section-title{
        width: 358px;
        font-size: 26px;  
    }
     .card{
        flex-direction: column;
        padding: 0;
        margin:0px 16px;
        width: 358px;
    } 
    .hr-line{
        display: none;
    }
    .arrow-btn{
        display: none;
    }

    .our-stories{
        width: 100%;
        margin-top: 500px;
        
    }
    .story-card-title, .story-card-sub-title{

        margin-top: 0px;
        
        margin-bottom: 0px;
    }
    .story-card-btn-01{
        position: absolute;
        width: 174.51px;
        height: 47.93px;
        left: 38.35px;
        top: 314.14px;
    }
    .story-card-container>img{
    width: 100%;

    }
    .story-card-container{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 10px;
        width: 358px;
        height: 561.39px;
    }
    .story-card-01{
        display: none;
    }

    .story-card-01{
        
        width: max-content;
        height: max-content;
    }
    .story-btn{
        margin-top: 160px;
    }

    .footer{
        margin-top: 30px;
        padding-left: 20px;
        width: 100%;
        flex-direction: column;
        background-color: rgb(1, 172, 253);
        align-items:flex-start; 
        justify-content: flex-start;
        width: 390px;
        height: 642px;
    }

   .nav-social-link-title{
    margin: 0;
    }
}
